body{
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}
input[type="text"]{
    padding: 10px;
    margin: 10px;
}
button{
    padding: 10px 15px;
}
img{
   margin-top: 60px;
    border: 1px solid #ccc;
}
.logout-container{
    margin-top: 20px;
}
.logout-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.logout-button:hover{
    background-color: #cc0000;
}